<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnStr" value="Data Source=10.122.216.132,1433;Initial Catalog=MCS_MESDB;User Id=imes;Password=mcsmes#;Connect Timeout=20;" />
    <add key="program_type" value="MFD_6SEQ" />
    <add key="line_code" value="MFD01" />
    <add key="station_id1" value="MF-02" />
    <add key="station_id2" value="" />
    <add key="serial_port_1" value="COM1" />
    <add key="serial_pos_1" value="L" />
    <add key="serial_port_2" value="" />
    <add key="serial_pos_2" value="" />
    <add key="show_taskbar" value="False" />
    <add key="show_reprint" value="False" />
    <add key="show_change_order" value="False" />
    <add key="scan_broadcast" value="False" />
  </appSettings>
</configuration>