<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnStr" value="Data Source=10.122.211.14,1433;Initial Catalog=MCS_MESDB;User Id=imes;Password=mcsmes#;Connect Timeout=20;" />
    <add key="program_type" value="TROLLEY" />
    <add key="line_code" value="TRFE3" />
    <add key="station_id1" value="TF3-4" />
    <add key="station_id2" value="" />
    <add key="serial_port_1" value="COM3" />
    <add key="serial_pos_1" value="All" />
    <add key="serial_port_2" value="" />
    <add key="serial_pos_2" value="" />
    <add key="show_taskbar" value="False" />
    <add key="show_reprint" value="False" />
    <add key="show_change_order" value="False" />
    <add key="scan_broadcast" value="False" />
    <add key="show_broadcast" value="True" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
